.user
  &__profile
    width 100%
    max-width 325px
  &__info
    display flex
    justify-content space-between
    &-title
      font-weight bold
    &-value
      text-align right

.not-found
  display flex
  flex-direction column
  text-align center
  height 80vh
  justify-content center
  align-items center
  align-content center
  &__link
    cursor pointer
    color #4285f4
    text-decoration underline

th.mat-header-cell, td.mat-cell, td.mat-footer-cell
  padding 0 .7em