.users
  &__sort
    display none

.mat-form-field
  font-size 14px
  width 100%
.pointer
  cursor pointer
th.mat-header-cell, td.mat-cell, td.mat-footer-cell
  padding 0 .7em

@media (max-width:800px)
  .users
    &__table
      overflow-x scroll
      overflow-y hidden
      white-space nowrap
    &__sort
      display block
  .mat-header-row
    display none